@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50 auto;
    text-align: center;
    font-family: proxima-nova;
    color: white;
    font-family: 'Poppins', sans-serif;
} 
h1 {
    font-size: 60px;
    padding-top: 60px;
}
h2 {
    font-size: 40px;
    padding-bottom: 60px;
}
#name {
    color: aquamarine;
}
.container-all {
    width: fit-content;
    margin: 20px auto;
    height: auto;
}
.container {
    width: calc(50% - 10px);
    overflow:hidden;
    height: fit-content;
    margin:5px;
    padding: 0;
    display:block;
    position:relative;
    float:left;
}
img {
    width: 100%;
    transition-duration: .3s;
    max-width: 100%;
    display:block;
    overflow:hidden; /* if an element is too big to fit */
}
.title{
    position: absolute;
    display: block;
    top: 30%;
    display: none;
    left: 50%;
    margin-right: -50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.6em;
    text-shadow: 1px 5px 10px black;
    transition-duration: .3s;
  }
  .text{
    position:absolute;
    top: 60%;
    max-width: 80%;
    text-align:center;
    left: 50%;
    text-shadow: 1px 5px 10px black;
    font-size: 1em;
    display:none;
    margin-right: -50%;
    transition-duration: .3s;
    transform: translate(-50%, -50%) 
}
.container:hover img{
    /*transform: scale(1.2);*/
    transition-duration: .3s;
    filter: grayscale(50%);
    opacity: .7;
  }
  .container:hover span{
    color:white;
    display: block;
    transition-duration: .3s;
  }
  input {
    border: 0;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background: aquamarine;
    color: black;
  }
  @media only screen and (max-width: 900px) {
      .container {
          width: calc(50% - 6px);
      }
  }
  @media only screen and (max-width: 400px) {
      .container {
          width: 100%;
      }
  }
/*
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .container:hover .overlay {
    opacity: 1;
  }
h1 {
    font-size: 60px;
    padding-top: 50px;
}
h2 {
    font-size: 50px;
}
.topnav {
    background: lightgrey;
    overflow: hidden;
    text-align: center;
}
.topnav a {
    display: inline-block;
    padding: 30px 80px;
    font-size: 20px;
    color: black;
    font-family: fantasy;
}
div {
    text-align: center;
}
*/
